.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: blue;
}

.clickable:active {
  color: green;
}

.locationsTable {
  font-weight: 500;
}

.locationsTable th {
  padding: 0.4rem;
}

.locationsTable td {
  padding: 0.4rem;
}
