.clickable {
  cursor: pointer;
}

.clickable:hover {
  color: blue;
}

.clickable:active {
  color: green;
}

th {
  justify-content: left;
  background-color: #d6eeee80;
}

tr:nth-child(even) {
  background-color: #d6eeee80;
}
