.clickable {
    font-weight: 500;
}

.clickable:hover {
    color: blue;
}

.clickable:active {
    color: green;
}

th {
    justify-content: left;
    background-color: #D6EEEE80;
}

tr:nth-child(even) {
  background-color: #D6EEEE80;
}