.nav {
  display: flex;
  background-color: #242424;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 1rem;
}

.nav button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: #646cff;
  cursor: pointer;
  transition: border-color 0.25s;
}
.nav button:hover {
  border-color: #646cff;
}
.nav button:focus,
.nav button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #8fc9ff;
}

.active {
  color: #8fc9ff;
}

.inactive {
  color: #646cff;
}
